---
import ThumbnailLabel from './ThumbnailLabel.astro';

export interface Props {
  imgSrc: string;
  alt: string;
  projectName: string;
  accentInfo: string;
  videoSrc?: string;
  title: string;
  description: string;
  imageLogo: string;
}
const { imgSrc, alt, projectName, accentInfo, videoSrc, title, description, imageLogo } = Astro.props;
---
<div class="relative group aspect-[4/3] bg-gray-200 rounded-[12px] overflow-hidden flex items-center justify-center cursor-pointer border-[5px] border-white">
  {videoSrc ? (
    <video
      src={videoSrc}
      poster={imgSrc}
      class="object-cover w-full h-full transition-transform duration-150 group-hover:scale-[1.02]"
      autoplay
      loop
      muted
      playsinline
    />
  ) : (
    <img src={imgSrc} alt={alt} class="object-cover w-full h-full transition-transform duration-150 group-hover:scale-[1.02]" />
  )}
  <div class="absolute inset-0 bg-[rgba(0,0,0,0.03)] opacity-0 group-hover:opacity-100 transition-opacity duration-200"></div>
  <ThumbnailLabel title={title} description={description} imageLogo={imageLogo} />
</div> 